* {
    box-sizing: border-box;
}

body {
    font-family: "roboto";
}

header {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 5rem;
    width: 100%;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

img {
    height: 4rem;
}

ion-icon {
    font-size: 3rem;
}

.acessar-participantes {
    background-color: transparent;
    border-color: transparent;
}

.icone-enviar {
    font-size: 2rem;
}

main {
    margin-top: 6rem;
    margin-bottom: 6rem;
    position: relative;
}

.mensagem {
    background-color: #F3F3F3;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    
}

p{
    font-size: 0.9rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    line-height: 1.2rem;
    overflow-wrap: break-word;
    text-align: justify;
}

.horario{
    color:#928b8b;
    font-size: 0.9rem;
}

.remetente {
    font-weight: bold;
    font-size: 0.9rem;
}

footer {
    background-color: #FFFFFF;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    height: 5rem;
    width: 100%;
    padding: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.barra-mensagem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.area-mensagem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    border-color: transparent;
    font-family: "roboto";
    font-size: 1.2rem;
    height: 2.5rem;
}

input::placeholder {
    font-style: italic;
    font-size: 1.2rem;
}

span{
    color: #505050;
    font-size: 1rem;
    height: 1rem;    
}

.enviar-mensagem {
    background-color: transparent;
    border-color: transparent;
}

.menu-participantes {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.fundo-escuro {
    background-color: black;
    opacity: 0.4;
    height: 100vh;
    width: 30vw;
}

.contatos-chat {
    background-color: #F3F3F3;
    height: 100vh;
    width: 70vw;
}

.escondido {
    display: none;
}